p{
    background-color: black;
    color: white;
}
h1{
    background-color: red;
    color: purple;
}
h1{
    my namr is md yeakub ali 
    my father name is a zahorul islam 
    my mother name is a muslima khatun
    my sister name is joly akter eva
}
